@font-face {
    font-family:'bold';
    scr: url(../fonts/Merriweather-Bold.ttf)
}

@font-face{
    font-family:'regular';
    scr: url(../fonts/PTSans-Regular.ttf)
}

@font-face{
    font-family:'slogan';
    scr: url(../fonts/Merriweather-Italic.ttf)
}

body{
    margin: 0;
}

#header{
    background-color:#33454e ;
    padding: 40px 0px 100px 0;
    font-family: 'bold';
    height: 50px;
    line-height: 110px;
}

#header h1{
    color: whitesmoke ;
    font-size: 42px;
    text-shadow: 3px 3px 4px #5a3b6f;
    font-weight: 600;
}

#container{
    display: flex;
}

#content{
    width: 85%;
    padding-left: 14px;
    box-sizing: border-box;
}

#content h1{
    padding: 20px 0px 15px 0px;
    font-family: 'slogan';
}

#content p{
    font-size: 29px;
    font-weight: 500;
    font-family: 'regular';
    color: #4d4c4c;
}

#sobre-mim{
    background-color: #d1cbc0 ;
}

#sobre-mim h2{
    text-align: center;
    margin-top: 15px;
    font-family: 'slogan';
}

#sobre-mim img{
    border: 5px outset #eae2cf ;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin: 22px auto 8px auto;
    
}

#sobre-mim p{
    text-align: center;
    font-size: 20px;
    padding-left: 8px;
    padding-top: 30px;
    font-family: 'regular';

}

#footer{
    padding-top: 12px;
    background-color: #585d5d;
    padding-left: 15px;
    min-height: 100px;
    color: white;
}

#footer span{
    font-family: 'slogan';
}

#footer p{
font-size: 15px;
padding-top: 4px;
font-family: 'bold';
}

#footer img{
    padding-top: 7px ;
}

#footer img:hover{
    cursor: pointer;
    width: 30px;
    height: 30px;
}




@media screen and (max-width: 600px) {
  
    #header{
        padding: 0 0 100px 0;
        height: 20px;
    }

    #header h1{
        font-size: 30px;
        text-align: center;
        padding: 0;
    }

    #container{
        flex-direction: column;
    }

    #content{
        width: 100%;
        padding: 0;
        text-align: center;
    }

    #content h1{
        font-size: 21px;
    }

    #content p{
        text-align: center;
        font-size: 17px;
        padding-left: 7px;
    }

    #sobre-mim{
        width: 90%;
        margin: 35px;
        padding-bottom: 0;
        height: 200%;
    }

    #sobre-mim p{
        font-size: 17px;
    }

    #sobre-mim h2{
        margin-top: 21px;
    }

    #sobre-mim img{
        width: 150px;
        height: 150px;
        display: block;
        margin: 21px auto 7px auto;
    }

    #footer{
        text-align: center;
    }


}